# Pandas groupby - practice
___

> Author: **Andrzej Kocielski**  
GitHub: [andkoc001](https://github.com/andkoc001/)  
Email: and.koc001@gmail.com  
Date of creation: 04-08-2021


This Jupyter Notebook is a practice project based on tutorial available on YouTube [Groupby - Data Analysis with Python and Pandas](https://youtu.be/fPufVcItDzs).

## Setting up the scene

### Importing required libraries

In [2]:
# data modeling
import numpy as np
import pandas as pd

# data visualisation
import matplotlib.pyplot as plt 
import seaborn as sns 

# This allows the plots being displayed inside the notebook, rather than in a separate screen.
%matplotlib inline

### Getting data

The dataset used in this exercise is __US Minimum Wage by State from 1968 to 2020__, which is available from [Kaggle](https://www.kaggle.com/lislejoem/us-minimum-wage-by-state-from-1968-to-2017) library. The dataset is downloaded from that website and stored in the notebook directory. 

Subsequently, the dataset is converted to _DataFrame_ data type (Pandas) under the name `df_orig`.

In [6]:
# Dataset from https://www.kaggle.com/lislejoem/us-minimum-wage-by-state-from-1968-to-2017
df_orig = pd.read_csv("Minimum Wage Data.csv", encoding="latin")

### Dataset integrity check

Below is a quick look into the dataset.  
First, we will look at the shape of the dataset, that is number of rows (observations) and number of columns (features) respectively.

In [4]:
boston.shape # rows, columns

(506, 13)

Let's see several first and several last rows of the dataset - in order to get an idea about the nature of the data (e.g. data types) and also to see if the entire dataset is coherent (e.g. not gone corrupt).

In [7]:
df_orig.head(4)

,Year,State,State.Minimum.Wage,State.Minimum.Wage.2020.Dollars,Federal.Minimum.Wage,Federal.Minimum.Wage.2020.Dollars,Effective.Minimum.Wage,Effective.Minimum.Wage.2020.Dollars,CPI.Average,Department.Of.Labor.Uncleaned.Data,Department.Of.Labor.Cleaned.Low.Value,Department.Of.Labor.Cleaned.Low.Value.2020.Dollars,Department.Of.Labor.Cleaned.High.Value,Department.Of.Labor.Cleaned.High.Value.2020.Dollars,Footnote
0,1968,Alabama,0.00000,0.00,1.15,8.55,1.15,8.55,34.8,...,0.00000,0.00,0.00000,0.00,NaN
1,1968,Alaska,2.10000,15.61,1.15,8.55,2.10,15.61,34.8,2.1,2.10000,15.61,2.10000,15.61,NaN
2,1968,Arizona,0.46800,3.48,1.15,8.55,1.15,8.55,34.8,18.72 - 26.40/wk(b),0.46800,3.48,0.66000,4.91,(b)
3,1968,Arkansas,0.15625,1.16,1.15,8.55,1.15,8.55,34.8,1.25/day(b),0.15625,1.16,0.15625,1.16,(b)

Next, we will get insight into the data types of each column (we remember that above the entire dataset has been converted to _DataFrame_).

In [8]:
df_orig.tail(3)

,Year,State,State.Minimum.Wage,State.Minimum.Wage.2020.Dollars,Federal.Minimum.Wage,Federal.Minimum.Wage.2020.Dollars,Effective.Minimum.Wage,Effective.Minimum.Wage.2020.Dollars,CPI.Average,Department.Of.Labor.Uncleaned.Data,Department.Of.Labor.Cleaned.Low.Value,Department.Of.Labor.Cleaned.Low.Value.2020.Dollars,Department.Of.Labor.Cleaned.High.Value,Department.Of.Labor.Cleaned.High.Value.2020.Dollars,Footnote
2859,2020,West Virginia,8.75,8.75,7.25,7.25,8.75,8.75,258.66,8.75,8.75,8.75,8.75,8.75,NaN
2860,2020,Wisconsin,7.25,7.25,7.25,7.25,7.25,7.25,258.66,7.25,7.25,7.25,7.25,7.25,NaN
2861,2020,Wyoming,5.15,5.15,7.25,7.25,7.25,7.25,258.66,5.15,5.15,5.15,5.15,5.15,NaN

When working with data, it is (always?) a good practice to verify whether there are not any empty data cells - _null_ value.

In [9]:
df_orig.isnull().sum() # return quantity of null values in the subset (column)

Year                                                      0
State                                                     0
State.Minimum.Wage                                        0
State.Minimum.Wage.2020.Dollars                           0
Federal.Minimum.Wage                                      0
Federal.Minimum.Wage.2020.Dollars                         0
Effective.Minimum.Wage                                    0
Effective.Minimum.Wage.2020.Dollars                       0
CPI.Average                                               0
Department.Of.Labor.Uncleaned.Data                        0
Department.Of.Labor.Cleaned.Low.Value                     0
Department.Of.Labor.Cleaned.Low.Value.2020.Dollars       15
Department.Of.Labor.Cleaned.High.Value                    0
Department.Of.Labor.Cleaned.High.Value.2020.Dollars      15
Footnote                                               2406
dtype: int64

___
## Data analysis

### Descriptive statistical analysis¶

Basic statistical description of the numerical categories (columns) of the data set.

In [10]:
df_orig.describe()

,Year,State.Minimum.Wage,State.Minimum.Wage.2020.Dollars,Federal.Minimum.Wage,Federal.Minimum.Wage.2020.Dollars,Effective.Minimum.Wage,Effective.Minimum.Wage.2020.Dollars,CPI.Average,Department.Of.Labor.Cleaned.Low.Value,Department.Of.Labor.Cleaned.Low.Value.2020.Dollars,Department.Of.Labor.Cleaned.High.Value,Department.Of.Labor.Cleaned.High.Value.2020.Dollars
count,2862.000000,2862.000000,2862.000000,2862.000000,2862.000000,2862.000000,2862.000000,2862.000000,2862.000000,2847.000000,2862.000000,2847.000000
mean,1994.000000,3.754499,6.441635,4.355660,7.991887,4.624333,8.360758,145.417585,3.754499,6.475574,3.877663,6.719726
std,15.299732,2.804826,3.203165,1.959252,0.895547,2.324131,1.128870,69.361536,2.804826,3.177182,2.821064,3.172770
min,1968.000000,0.000000,0.000000,1.150000,6.420000,1.150000,6.420000,34.800000,0.000000,0.000000,0.000000,0.000000
25%,1981.000000,1.600000,5.352500,3.350000,7.340000,3.350000,7.610000,90.900000,1.600000,5.415000,1.600000,6.200000
50%,1994.000000,3.350000,7.400000,4.250000,7.900000,4.250000,8.170000,148.200000,3.350000,7.420000,3.350000,7.610000
75%,2007.000000,5.150000,8.450000,5.150000,8.390000,6.550000,8.980000,207.342000,5.150000,8.460000,5.825000,8.600000
max,2020.000000,14.000000,15.610000,7.250000,10.330000,14.000000,15.610000,258.660000,14.000000,15.610000,14.000000,15.610000

___
## Groupby()

In [14]:
gb = df_orig.groupby("State")
gb.get_group("Alabama").set_index("Year").head(8)

,State,State.Minimum.Wage,State.Minimum.Wage.2020.Dollars,Federal.Minimum.Wage,Federal.Minimum.Wage.2020.Dollars,Effective.Minimum.Wage,Effective.Minimum.Wage.2020.Dollars,CPI.Average,Department.Of.Labor.Uncleaned.Data,Department.Of.Labor.Cleaned.Low.Value,Department.Of.Labor.Cleaned.Low.Value.2020.Dollars,Department.Of.Labor.Cleaned.High.Value,Department.Of.Labor.Cleaned.High.Value.2020.Dollars,Footnote
Year,,,,,,,,,,,,,,
1968,Alabama,0.0,0.0,1.15,8.55,1.15,8.55,34.8,...,0.0,0.0,0.0,0.0,NaN
1969,Alabama,0.0,0.0,1.15,8.11,1.15,8.11,36.7,...,0.0,0.0,0.0,0.0,NaN
1970,Alabama,0.0,0.0,1.30,8.67,1.30,8.67,38.8,...,0.0,0.0,0.0,0.0,NaN
1971,Alabama,0.0,0.0,1.30,8.30,1.30,8.30,40.5,...,0.0,0.0,0.0,0.0,NaN
1972,Alabama,0.0,0.0,1.60,9.90,1.60,9.90,41.8,...,0.0,0.0,0.0,0.0,NaN
1973,Alabama,0.0,0.0,1.60,9.32,1.60,9.32,44.4,...,0.0,0.0,0.0,0.0,NaN
1974,Alabama,0.0,0.0,1.60,8.39,1.60,8.39,49.3,...,0.0,0.0,0.0,0.0,NaN
1975,Alabama,0.0,0.0,1.60,7.69,1.60,7.69,53.8,...,0.0,0.0,0.0,0.0,NaN

In [42]:
gb_fed = df_orig.groupby(["State","Federal.Minimum.Wage"]).size().reset_index().groupby("State")[[0]]
gb_fed.get_group("Texas").head(8)

# df.groupby(['col5','col2']).size().reset_index().groupby('col2')[[0]].max()

      0
630   2
631   2
632   4
633   3
634   1
635   1
636  10
637   1